body {
    div:nth-child(3) {
        div {
            div.ant-drawer-content-wrapper {
                div {
                    div {
                        div.ant-drawer-header.ant-drawer-header-close-only {
                            display: none;
                        }
                        div.ant-drawer-body {
                            padding: 0;
                        }
                    }
                }
            }
            div.ant-modal-wrap.ant-modal-centered {
                div {
                    div.ant-modal-content {
                        div.ant-modal-body {
                            div {
                                button.ant-btn.css-dev-only-do-not-override-xu9wm8.ant-btn-default.ant-btn-lg.bg-blue-400.text-white {
                                    span {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}